<!DOCTYPE html>
<html lang="en">
<head>
    <title> Blog Site </title>
    <!-- <base href="/"> -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/app.css">
</head>
<body>
    <div class="ui inverted menu">
        <!-- <div class="ui cantainer"> -->
            <div class="header item" style="margin:auto 0em auto 10em;"> <i class="code icon"></i> Blog Site</div>
            <a href="/" class="item">Home</a>
            <a href="/blogs/new" class="item" target="_blank">New Post</a>
        <!-- </div> -->
    </div>
    
